 
   <footer class=" text-white ">
    <div id="bl-2" class="container text-center">
        <div class="row">
           <div class="col-md-4 footer-contact-details">
                <h4>
                    <i class="fa fa-mobile fa-3x " aria-hidden="true"></i>
                     Тел.
                </h4>
                    <p> 099 917 82 72
                    <br> 095 211 75 22
                    <br> 067 453 37 40
                    </p>
           </div>
            <div class="col-md-4">
            	<h4><i class="fa fa-map-marker"></i>
                Заходьте</h4>
                <p>
                	м.Надвірна,
                	<br>
                    вул.Комунальна 2
                </p>
            </div>
            <div class="col-md-4">
            	<h4>
            	<i class="fa fa-envelope"></i>
            	Email
                </h4>
                <p>
               <a href="mailto:mail@example.com"> yaremkv@gmail.com</a>
                </p>
            </div>
            
        </div>
      
     </div>
 </footer>
          <div class="footer-copyright text-white">
            <div id="bl-3" class="container">
			Copyright © 2017-2018-2019
			 Розробник сайту студія &lt; Designed by "Y Studio"&gt;This site is developed and maintained by Vasyl Yaremkiv.<br> All Rights Reserved.
            <a class="grey-text text-lighten-4 right" href="#!">"Y Studio"</a>
            </div>
          </div>
       

