<div class="container" id="par-2">
    <h3>Парапети на паркан</h3>
</div>
<div id="main-table" class="container-fluid">
	 <hr>
     <hr>
    <div class="table-responsive">
            <table class="centered table">
        <thead>
        <tr>
         <th colspan="3" class="blue-grey lighten-3 white-text text-center">Ціни продукції в грн.</th>
              
      </tr>
 </thead>
 <thead>
      <tr>
            <th class="white-text text-center">Назва</th>
            <th>Ширина см</th>
            <th>Ціна грн за 1м/п</th>
              
       </tr>
 </thead>

    <tbody>
      <tr>
         <td class="valign-wrapper">
             <div >
                <img src="../assets/img/rys16.png" width="200">
            </div>
            Парапети на паркан із простого<br> бетону,<br>довжиною до 3,5м і<br> шириною від 20см до 50см.
         </td>
         <td>20cm<br>25cm<br>30cm<br>35cm<br>40cm<br>45cm</td>
         <td>140<br>160<br>200<br>230<br>250<br>280</td>
      </tr>
   
      <tr>

         <td class="valign-wrapper">
             <div class="material-placeholder">
                 <img class="materialboxed initialized" src="../assets/img/rys11.png" width="200">
             </div>Парапети на паркан із мармурової крихти ,<br>довжиною до 3,5м і<br> шириною від 20см до 50см.
         </td>
          <td>20cm<br>25cm<br>30cm<br>35cm<br>40cm<br>45cm<br>50cm<br></td>
          <td>250<br>270<br>300<br>330<br>360<br>400<br>440</td>
      </tr>
      <tr>

        <td class="valign-wrapper">
            <div class="material-placeholder">
                <img class="materialboxed initialized" src="../assets/img/rys2.png" width="200">
            </div>Парапети на паркан із мармурової крихти білі<br> із використанням білого цементу ,<br>довжиною до 3,5м і<br> шириною від 20см до 50см.
        </td>
        <td>20cm<br>25cm<br>30cm<br>35cm<br>40cm<br>45cm<br>50cm<br></td>
         <td>300<br>320<br>350<br>370<br>400<br>450<br>500</td>
     </tr>
     </tbody>
    </table>
     </div>
 </div>
     