
h3{
font-size: 1.75rem;
margin-top: 4rem;
color:#9597b6;
}
p{
    font-size:22px;
    font-weight:bold;
    color:#7d9098;
}
.img-thumbnail{
	background-color: #3d3d5099;
}
.img-thumbnail img{
box-shadow: inset 0px 0px 75px black;
background-color: #3c445980;
border: 2px solid black;
transition: transform .5s;
}
 .img-thumbnail img:hover {
 	 box-shadow: none;
   transition: all 0.5s linear;
   transform: scale(1.01);
   z-index: 99;
 }
hr{
  border: 1px dashed gray;
}
#par-11,#par-12,#par-13,#par-14,#par-1,#par-2,#par-3,#par-4{
	background-color: #31303f99;
	border-color: rgb(15, 13, 53);
	margin: 0 auto;
}