
<nav class='container navbar navbar-expand-lg navbar-light navbar fixed-top'>
	<a class="navbar-brand" href="#">WebSite<img src="favicon.ico" width="30" height="30" alt=""></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		  
	<div class="collapse navbar-collapse" id="navbarNav">
	    <ul class='navbar-nav mr-auto '>
			<li>
				<a routerLink="/" routerLinkActive="active">Головна</a>
			</li>
			<li routerLinkActive="active current">
         		<a routerLink="/page">Продукція</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="/price">Парапет
					<br>паркана</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="kap-table">Накриття
					<br>стовпчика</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="/contact">Контакти</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="/gallery">Галерея</a>
			</li>
		</ul>
	</div>
</nav>
