<div>
<h1>Накриття на стовпчики паркана</h1>
</div>
<table datatable class="table table-striped table-bordered table-hover table-responsive ">
  <tr>
    <th colspan="4" class="white-text text-center">Ціни продукції в грн.</th>

  </tr>
  <tr>
    <th>id</th>
    <th class="white-text text-center">Назва</th>
    <th>Розмір в см</th>
    <th>Ціна</th>
  </tr>

  <tr *ngFor=" let kap of users;index as i ">

    <td> {{i+1}}</td>

    <td >
      <img src="./assets/images/{{kap.photo}}"  (onclick)="shownModal(i)"   
    		class="img-fluid img-thumbnail" width="300"  title={{kap.caption}} />
      <h4 >{{kap.caption}}</h4>
    </td>

    <td>
      <div>{{kap.firstName}}</div>
      <div>{{kap.secondName}}</div>
    </td>

    <td>
      <div >{{kap.lastName}}</div>
      <div >{{kap.last1Name}}</div>
    </td>
</tr>
</table>

<div *ngIf='imgId' class="modal">
    <div class="modal-content">
       <img src="'./assets/images/'+ users[imgId].modal"
       width="200"  alt="">
  </div>
</div>
