img{
	max-width: 250px;
	float: left;
	vertical-align: middle
	
}
table{
	background-color: #9f9a9a;
	color: #212529;
}

table tbody td{
	font-size: 15px;
	font-weight: 700;
	padding: 10px !important;
	height: 100%;
	vertical-align: middle;	
}

h4{
	vertical-align: middle;
}
.img-fluid{
	max-width: 100%;
	 height: auto;
}
 
