 
<div id="main-table" class="container">
	<h1 class="text-center changing-text"> "Parkan" </h1>
   <h2 class="text-center changing-text">Виготовлення парапетів
       на паркан та<br>
       накриття на стовпчики
   </h2>
        <img src="../assets/img/parap1.png" class="img" alt="Photo">
 </div>
 <div class="container" id="bl-1">
	
	<p>Фірма "Parkan" спеціалізується на виробництві бетонно - мармурових виробів.
         В процесі розвитку ми накопичили величезний, бордюри
          досвід у виробництві продукції для будівництва. 
         Ми виробляємо стандартні парапети а й складні архітектурні вироби,
          що відповідають вимогам клієнта.</p>
	 <img src="../assets/img/par5.png" class="img-fluid" alt="Photo">
 </div>
